<html>
<head>
    <title>Account - <%= result[0].email %></title>
</head>
<body>
    <h1>Accounts</h1>
    <ul>
        <li>Account ID: <%= result[0].account_id%></li>
        <li>First Name: <%= result[0].first_name %></li>
        <li>Last Name: <%= result[0].last_name %></li>
        <li>Email: <%= result[0].email %></li>
    </ul>
</body>

</html>